.top-header-bottom-right {
  display: flex;
  position: absolute;
  right: 10px;
  height: 40px;
  line-height: 40px;
  align-items: center;
}
.top-header-bottom-right span {
  margin-left: 8px;
}
.top-header-bottom-right span[class^='iconfont'] {
  font-family: "iconfont" !important;
  font-size: 40px !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #0bb5f8;
}
